.wallet-info {
    text-align: left;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}
.wallet {
    margin-bottom: 10px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}